/* Algemene stijl */
* {
  margin:0px;
 }
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#logo
{border-radius:5%;}

header {
  background-color: #89efe2;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-grow: 1;
}

h2 {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 15px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.resultaat {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #89efe2;
  color: white;
  margin-top: 20px;
}

/* Responsiviteit */
@media (max-width: 768px) {
  main {
      width: 90%;
  }
}
